<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Confessions Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Choose Language:</ion-label>
    <ion-select [(ngModel)]="selectedlang" (ionChange)="callNgOninAgain()">
      <ion-select-option *ngFor="let lang of langlist" [value]="lang">{{lang.lname}}</ion-select-option>
    </ion-select>
  </ion-item>
<ion-card color="primary" *ngFor="let item of confessionswlimit">
  <span *ngIf="!item.isEdit; else elseBlock">
    <ion-card-header>
      <!--<ion-card-title>{{item.id}}</ion-card-title>-->
      <!--<ion-card-title>{{item.clanguage}}</ion-card-title>-->
      <ion-card-title class="iontitlecolor">{{item.ctitle}}</ion-card-title>
      <!--<ion-card-title>{{item.cisreal}}</ion-card-title>-->
      <!--<ion-card-title>{{item.ccategory}}</ion-card-title>-->
      <ion-card-title>{{item.ctext}}</ion-card-title>
      <ion-card-title>{{item.cdate}}</ion-card-title>
      <!--<ion-card-title>{{item.curltext}}</ion-card-title>-->
      <!-- audio play **webonly** begin-->
      <audio controls>
        <source src="{{item.curlaudio}}" type="audio/mpeg">
      Your browser does not support the audio element.
      <!--<ion-card-title>{{item.curlaudio}}</ion-card-title>-->
      </audio>
      <!-- audio play **webonly** end-->
      <!--<ion-card-title>{{item.converteds1}}</ion-card-title>-->
      <!--<ion-card-title>{{item.converteds2}}</ion-card-title>-->
    </ion-card-header>
    <ion-card-content>
      <ion-button shape="round" color="secondary" size="small" (click)="findConfbyid(item.id)">Show
        <ion-icon size="small" slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="varucedit"  shape="round" color="secondary" size="small" (click)="editRecord(item)">Edit
        <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button *ngIf="varucedit" shape="round" color="danger" size="small" (click)="removeRecord(item.id)">Del
        <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-card-content>
  </span>
  <ng-template #elseBlock>
    <ion-card-header>
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col>
              Edit
            </ion-col>
            <ion-col>
              <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                Cancel
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button fill="solid" color="success" size="small" (click)="updateRecord(item)">
                Update
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label><strong>Language Code</strong></ion-label>
        <ion-input type="text" [readonly]="true" [(ngModel)]="item.Editclanguage"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Confession Title</strong></ion-label>
        <ion-input type="text" [(ngModel)]="item.Editctitle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Confession Real</strong></ion-label>
        <ion-input type="text" [readonly]="true" [(ngModel)]="item.Editcisreal"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Confession Category</strong></ion-label>
        <ion-input type="text" [readonly]="true" [(ngModel)]="item.Editccategory"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Confession Text</strong></ion-label>
        <ion-input type="text" [(ngModel)]="item.Editctext"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Confession Date</strong></ion-label>
        <ion-input type="text" [readonly]="true" [(ngModel)]="item.Editcdate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Confession Text File</strong></ion-label>
        <ion-input type="text" [readonly]="true" [(ngModel)]="item.Editcurltext"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Confession Text Audio</strong></ion-label>
        <ion-input type="text" [readonly]="true" [(ngModel)]="item.Editcurlaudio"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Converted by Sistem 1</strong></ion-label>
        <ion-input type="text" [readonly]="true" [(ngModel)]="item.Editconverteds1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Converted by Sistem 2</strong></ion-label>
        <ion-input type="text" [readonly]="true" [(ngModel)]="item.Editconverteds2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Confession Owner</strong></ion-label>
        <ion-input type="text" [readonly]="true" [(ngModel)]="item.Editcuid"></ion-input>
      </ion-item>
    </ion-card-content>
  </ng-template>
</ion-card>
<ion-infinite-scroll threshold="5%" (ionInfinite)="onIonInfinite($event)">
<ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
