<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Roles Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Your user Details!</h1>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>{{usersInt3.uid}}</ion-card-title>
      <ion-card-title>{{usersInt3.urolecod}}</ion-card-title>
      <ion-card-title>{{usersInt3.uemail}}</ion-card-title>
      <ion-card-title>{{usersInt3.ualias}}</ion-card-title>
      <ion-card-title>{{usersInt3.uregdate}}</ion-card-title>
      <ion-card-title>{{usersInt3.ucountry}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
